@media only screen and (max-height: 700px) and (orientation: landscape) {

        .login-container {
            height: 95%;
            width: 50%;
        }

        .register-container {
            height: 95%;
            width: 50%;
        }

        .input-div {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        .input-div input {
            font-size: 1.2rem;
        }

        .input-div .fa-solid {
            font-size: 1.2rem;
        }

        .forgot-password-text {
            font-size: 1rem;
        }

        .blue-button {
            font-size: 1.2rem;
            line-height: 1.7rem;
        }

        .sign-up-text {
            font-size: 0.8rem;
        }

        .forgot-password-text-container {
            margin-bottom: 1rem;
        }

        .password-recovery-container h1 {
            font-size: 2rem;
        }

        .password-recovery-inner-container p {
            font-size: 1.3rem;
        }

        .password-recovery-inner-container input {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        .recovery-blue-button {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    
    .dog-logo {
        width: 70%; 
    }

    .register-form input {
        font-size: 1.2rem;
    }

    .password-recovery-close {
        font-size: 1rem;
        width: 5vw;
        height: 10vh;
    }
}