@media only screen and (min-width: 480px) and (max-width: 1400px) and (orientation: portrait) {

    .app-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        align-items: center;
    }

    .app-cover {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .login-container {
        width: 100%;
        height: 80%;
        border-radius: 50px;
        box-shadow: 0px 20px 64px rgba(0, 0, 0, 0.6);
    }

    .register-container {
        width: 100%;
        border-radius: 50px;
        box-shadow: 0px 20px 64px rgba(0, 0, 0, 0.6);
        height: 80%;
    }

    .dog-logo {
        width: 75%;
    }

    .register-form input {
        font-size: 2.5rem;
    }

    .input-div input {
        font-size: 2.5rem;
        padding-left: 1rem;
    }

    .input-div .fa-solid {
        font-size: 2.5rem;
    }

    .input-div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1vh 0;
        margin-bottom: 2rem;
    }

    .blue-button {
        font-size: 3rem;
        border-radius: 150px;
    }

    .forgot-password-text {
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .sign-up-text {
        font-size: 2rem;
    }
    
    /* .password-recovery-title h1 {
        font-size: 3rem;
    }

    .password-recovery-title {
        width: 70vw;
        border-radius: 0 0 100px 100px;
    }

    .password-recovery-close {
        width: 10vw;
        height: 7vh;
        font-size: 2.5rem;
    } */

    .password-recovery-inner-container p {
        font-size: 2rem;
    }

    .password-recovery-inner-container input {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}